@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Gestion Control Escolar</h1>
    <p>Seleccione entre las opciones para modificar informacion de Alumno Materia y Profesor</p>
</div>
